package app

import (
    mcache "github.com/go-macaron/cache"
    "github.com/go-macaron/gzip"
    "github.com/go-macaron/i18n"
    "github.com/go-macaron/jade"
    "github.com/go-macaron/session"
    "github.com/go-macaron/toolbox"
    "{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/conf"
    "{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/lib/cache"
    "{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/lib/context"
    "{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/lib/template"
    "{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/handler"
    "gopkg.in/macaron.v1"
)

func SetupMiddlewares(app *macaron.Macaron) {
    app.Use(macaron.Logger())
    app.Use(macaron.Recovery())
    app.Use(gzip.Gziper())
    app.Use(toolbox.Toolboxer(app, toolbox.Options{
        HealthCheckers: []toolbox.HealthChecker{
            new(handler.AppChecker),
        },
    }))
    app.Use(macaron.Static("public"))
    app.Use(i18n.I18n(i18n.Options{
    Directory: "locale",
    Langs:     []string{"pt-BR", "en-US"},
    Names:     []string{"Português do Brasil", "American English"},
    }))
    app.Use(jade.Renderer(jade.Options{
    Directory: "public/templates",
    Funcs:     template.FuncMaps(),
    }))
    app.Use(macaron.Renderer())
    app.Use(mcache.Cacher(
    cache.Option(conf.Cfg.Section("").Key("cache_adapter").Value()),
    ))
    app.Use(session.Sessioner())
    app.Use(context.Contexter())
}

func SetupRoutes(app *macaron.Macaron) {
    app.Group("{{basePathWithoutHost}}", func() {
    {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
            app.{{httpMethod}}("{{path}}", handler.{{nickname}})
    {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
    })
}