package handler

import (
"{{#externalDocs}}{{externalDocs.url}}{{/externalDocs}}/lib/context"
)

{{#operations}}
    {{#operation}}
        func {{nickname}}(ctx *context.Context) {
        }

    {{/operation}}
{{/operations}}